@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-bar {
  position: fixed;
  top: 0;
  z-index: 9999;
  background-image: url("bar.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}