name: Build
on:
  pull_request:
    paths:
      - "src/**"
      - "tests/**"
      - "drizzle/**"
      - ".github/**"
      - "Dockerfile"
      - "package.json"
      - "bun.lockdb"
    branches:
      - main
  push:
    paths:
      - "src/**"
      - "tests/**"
      - "drizzle/**"
      - ".github/**"
      - "Dockerfile"
      - "package.json"
      - "bun.lockdb"
    branches:
      - main
  workflow_dispatch:
    inputs:
      target:
        description: "Deployment target"
        required: true
        type: choice
        options:
          - production
        default: production

permissions:
  contents: write # to be able to publish a GitHub release
  packages: write # to be able to publish a package
  pull-requests: write # to be able to comment on released pull requests
  issues: write # to be able to comment on released issues
  deployments: write

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    name: Build and test
    steps:
      - uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2.0.2
        with:
          bun-version: 1.2.15
      - name: Install Dependencies
        run: bun install
      - name: Run linting, formatting, and type checking
        run: bun run lint && bun run format:check && bun run typecheck
      - name: Build
        run: bun run build
      - name: Run Tests
        run: bun test

  build-and-publish-docker:
    needs: build-and-test
    runs-on: ubuntu-latest
    outputs:
      image_digest: ${{ steps.docker_build.outputs.digest }}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./Dockerfile
          push: true
          build-args: |
            GIT_SHA=${{ github.sha }}
          tags: |
            ghcr.io/faustvii/beth-leaderboard:${{ github.ref == 'refs/heads/main' && 'latest' || 'pr-' }}${{ github.ref == 'refs/heads/main' && '' || github.event.number }}${{ github.ref != 'refs/heads/main' && '-latest' || '' }}
            ${{ github.ref == 'refs/heads/main' && 'ghcr.io/faustvii/beth-leaderboard:' || '' }}${{ github.ref == 'refs/heads/main' && github.sha || '' }}
            ${{ github.ref != 'refs/heads/main' && 'ghcr.io/faustvii/beth-leaderboard:' || '' }}${{ github.ref != 'refs/heads/main' && 'pr-latest' || '' }}

  deploy-preview:
    needs: build-and-publish-docker
    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/trigger-deploy.yml
    with:
      target: preview
      image: pr-latest@${{ needs.build-and-publish-docker.outputs.image_digest }}
    secrets:
      CLUSTER_REPO_DISPATCH_TOKEN: ${{ secrets.CLUSTER_REPO_DISPATCH_TOKEN }}
      CLUSTER_REPO: ${{ secrets.CLUSTER_REPO }}

  deploy-prod:
    needs: build-and-publish-docker
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    uses: ./.github/workflows/trigger-deploy.yml
    with:
      target: production
      image: latest@${{ needs.build-and-publish-docker.outputs.image_digest }}
    secrets:
      CLUSTER_REPO_DISPATCH_TOKEN: ${{ secrets.CLUSTER_REPO_DISPATCH_TOKEN }}
      CLUSTER_REPO: ${{ secrets.CLUSTER_REPO }}
